body {
	font-family: Helvetica, Arial, sans-serif;
	font-size:12pt;
	color:#4C4C4C;
}

a {
	text-decoration:none;
	color:#4C4C4C;
}

a:hover, a:active {
	text-decoration:underline;
}

h1 {
	font-weight:normal;
	text-align:center;
	font-size:20pt;
	margin:1em 0;
}

h2 {
	text-align:center;
	margin-bottom:1em;
}

#simplethreading {
	width:520px;
	margin:10px auto;
}

.demo {
	float:left;
	margin:0 5px;
	width:250px;
}

.demo .start {
	cursor:pointer;
}

.output {
	border:dashed 1px #B2B2B2;
	padding:5px;
}

.result {
	float:left;
	padding:2px;
	border:solid 1px #666666;
	margin:2px;
	text-align:center;
	min-width:25px;
}

.dark {
	color:#F2F2F2;
	background-color:#666666;
}

.tip {
	font-size:10pt;
	margin:0 auto 20px;
	text-align:center;
	width:450px;
}

.footer {
	font-size:10pt;
	margin:auto;
	width:500px;
}

.preloader {
	text-align:center;
}
